
.body {
	font-family: 'tangerine' , serif;
	font-size: 40px;
	font-family: 'Yatra One', cursive;


	background-color: skyblue;
	background-position: ;
	background-attachment:;


}
.nav{
	background-color: #fff;
}

nav ul {
	list-style: none;
	padding: 1px;

}
.h1{
	font-family: 'tangerine' , serif;
	font-size: 40px;
}

}
a:link {
	color: blue;

}
a:visited { 
	color: white;
 }

a:hover{
	color: white;
	background: orange;
 }

.p{
	background-color: yellow ;
	text-align-last: ;
}

.div{
	background-color: ;
}

form{
	border-radius: 5px;
	font: ;
	overflow: hidden;

}

fieldset{
	border-radius: ;
	margin-right: ;
	padding: 1px;
}





